.content {
  margin: 0 200px;
}
.content__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content__profile_info_picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.content__profile_info_description {
  display: grid;
  margin: 22px 165px 21px 30px;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  column-gap: 18px;
  grid-template-areas: "name button" "about-me";
}
.content__profile_info_description_name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: "name";
}
.content__profile_info_description_edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/Edit\ Button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  border-style: none;
  grid-area: "button";
}
.content__profile_info_description_edit-button:hover {
  background-image: url(../images/Edit\ Button\ -\ hover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  border-style: none;
  grid-area: "button";
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.content__profile_info_description_about-me {
  font-weight: 400;
  font-size: 18px;
  grid-area: "about-me";
}
.content__profile_add-button {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  background-image: url(../images/Add\ Button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  padding: 35px 0;
  border-style: none;
}
.content__profile_add-button:hover {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  background-image: url(../images/Add\ Button\ -\ hover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  padding: 35px 0;
  border-style: none;
  cursor: pointer;
}

.content__places {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px 17px;
}
.content__places_card {
  border-radius: 10px;
  background-color: #ffffff;
  width: 282px;
  height: 361px;
  padding: 0;
  overflow: hidden;
  gap: 0;
}
.content__places_card_picture {
  width: 282px;
  height: 282px;
}
.content__places_card_name {
  display: flex;
  margin: 25px 15px 31px 21px;
  justify-content: space-between;
  align-items: center;
}
.content__places_card_name_title {
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  margin: 0;
}
.content__places_card_name_like-button {
  background-image: url(../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 21px;
  height: 19px;
  border-style: none;
}
.content__places_card_name_like-button:hover {
  background-image: url(../images/like\ button\ -\ hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 21px;
  height: 19px;
  border-style: none;
  cursor: pointer;
}
.content__places_card_name_like-button:active {
  background-image: url(../images/like\ button\ -\ active.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  border-style: none;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .content {
    margin: 0 19px;
  }
  .content__profile {
    max-width: 282px;
    height: 286px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content__profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__profile_info_description {
    column-gap: 14px;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    column-gap: 18px;
    grid-template-areas: "name button" "about-me about-me";
  }
  .content__profile_info_description_name {
    font-size: 22px;
  }
  .content__profile_info_description_edit-button {
    width: 18px;
    height: 18px;
  }
  .content__profile_info_description_edit-button:hover {
    width: 18px;
    height: 18px;
  }
  .content__profile_info_description_about-me {
    font-size: 14px;
    text-align: center;
  }
  .content__profile_add-button {
    width: 282px;
    height: 50px;
    background-image: url(../images/Add\ Button\ 320px.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .content__profile_add-button:hover {
    width: 282px;
    height: 50px;
  }

  .content__places {
    padding-top: 36px;
    grid-template-columns: repeat(auto-fit, minmax(282px));
    grid-gap: 20px;
    margin: 0;
    max-width: 282px;
    overflow: hidden;
  }

  .content__places_card {
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 282px;
    height: 361px;
    padding: 0;
    overflow: hidden;
    gap: 0;
  }
  .content__places_card_picture {
    width: 282px;
    height: 282px;
  }
  .content__places_card_name {
    display: flex;
    margin: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
  }
  .content__places_card_name_title {
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    margin: 0;
  }
  .content__places_card_name_like-button {
    background-image: url(../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 21px;
    height: 19px;
    border-style: none;
  }
}
