.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.modal_is-opened {
  display: flex;
}
.modal__content {
  max-width: 430px;
  width: 100%;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  font-family: "Inter";
}
.modal__close {
  background-image: url(../images/Close\ Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-style: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.modal__close:hover {
  background-image: url(../images/Close\ Icon\ -\ hover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-style: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.modal__title {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  padding-bottom: 54px;
}
.modal__input {
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.modal__input_type_name {
  margin-bottom: 29px;
}
.modal__input_type_description {
  margin-bottom: 48px;
}
.modal__save {
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  color: #c4c4c4;
  border-color: #c4c4c4;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  box-shadow: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .modal__content {
    max-width: 282px;
    width: 100%;
    height: 322px;
    padding: 25px 22px;
  }
  .modal__close {
    top: -54px;
    right: 0px;
  }
  .modal__close:hover {
    width: 26px;
    height: 26px;
    top: -72px;
    right: -264px;
  }
  .modal__title {
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 76px;
  }
  .modal__input {
    width: 238px;
    height: 26px;
  }
  .modal__input_type_description {
    margin-bottom: 46px;
  }
  .modal__save {
    width: 238px;
    height: 46px;
  }
}
