.page {
  background-color: #000000;
  font-family: "Inter";
  color: #ffffff;
  margin: auto;
  max-width: 1280px;
}
@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    margin: 0;
    overflow: hidden;
  }
}
